<div id="header">
    <div class="inner-padding">
        <div class="logo"></div>

        <div class="div_buttons f-right">
            <span>About</span>
            <span>Experience</span>
            <span>Contact</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div id="body">
    <div id="sidebar">
        <div class="inner-padding">

            <a class="main-color hover transition" href="https://www.linkedin.com/in/leonardo-cassani-de-amorim/"
                target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="main-color hover transition" href="https://github.com/leocamorim" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="main-color hover transition" href="https://docs.google.com/document/d/1buOhi9nrudgjoQ78z0nD7gpxOWPq8H76xU4fuycwGbU/edit?usp=sharing" target="_blank">
                <i class="fa-solid fa-id-badge"></i>
            </a>

            <div class="vertical-bar"></div>
        </div>
    </div>

    <div id="content">
        <div class="inner-padding">
            <h1>
                <span>L</span>
                <span>e</span>
                <span>o</span>
                <span>n</span>
                <span>a</span>
                <span>r</span>
                <span>d</span>
                <span>o</span>&nbsp;
                <span>C</span>
                <span>a</span>
                <span>s</span>
                <span>s</span>
                <span>a</span>
                <span>n</span>
                <span>i</span>
                <br>
                <span>M</span>
                <span>a</span>
                <span>r</span>
                <span>b</span>
                <span>a</span>
                <span>c</span>
                <span>k</span>&nbsp;
                <span>d</span>
                <span>e</span>&nbsp;
                <span>A</span>
                <span>m</span>
                <span>o</span>
                <span>r</span>
                <span>i</span>
                <span>m</span>
            </h1>
            
            <h3>Front End Developer </h3>
        </div>
    </div>
</div>
