<header>
    <div class="inner-padding">
        <div class="header">
            <div class="logo f-left">
                <a href="/">
                    <img src="assets/logo_leo.png" alt="">
                </a>
            </div>

            <div class="div_buttons f-right">
                <span class="about">
                    <a class="hover transition" href="#page1">
                        <div class="underline"></div>About
                    </a>
                </span>
                <span class="experience">
                    <a class="hover transition" href="#page1">
                        <div class="underline"></div>Experience
                    </a>
                </span>
                <span class="contact">
                    <a class="hover transition" href="#page1">
                        <div class="underline"></div>Contact
                    </a>
                </span>

                <a href="https://docs.google.com/document/d/1buOhi9nrudgjoQ78z0nD7gpxOWPq8H76xU4fuycwGbU/edit?usp=sharing"
                    target="_blank"><button class="bt-main">Resume</button></a>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</header>

<div id="body">
    <div class="sidebar" id="sidebar-left">
        <div class="inner-padding">

            <a class="main-color hover linkedin" href="https://www.linkedin.com/in/leonardo-cassani-de-amorim/"
                target="_blank">
                <i class="transition fa-brands fa-linkedin-in"></i>
            </a>
            <a class="main-color hover github" href="https://github.com/leocamorim" target="_blank">
                <i class="transition fa-brands fa-github"></i>
            </a>
            <a class="main-color hover curriculum"
                href="https://docs.google.com/document/d/1buOhi9nrudgjoQ78z0nD7gpxOWPq8H76xU4fuycwGbU/edit?usp=sharing"
                target="_blank">
                <i class="transition fa-solid fa-id-badge"></i>
            </a>

            <div class="vertical-bar"></div>
        </div>
    </div>

    <div class="sidebar" id="sidebar-right">
        <div class="inner-padding">

            <a class="main-color hover" href="mailto:leoferruge@gmail.com" target="_blank">
                <p>leoferruge@gmail.com</p>
            </a>

            <div class="vertical-bar"></div>
        </div>
    </div>

    <div id="content">
        <section id="page1">
            <div class="content">
                <span class="salutation">Hi, my name is</span>
                <h1 class="name">
                    <span class="over"></span>
                    <span class="blinker"></span>
                    <span class="spanPop main-color-hover">L</span>
                    <span class="spanPop main-color-hover">e</span>
                    <span class="spanPop main-color-hover">o</span>
                    <span class="spanPop main-color-hover">n</span>
                    <span class="spanPop main-color-hover">a</span>
                    <span class="spanPop main-color-hover">r</span>
                    <span class="spanPop main-color-hover">d</span>
                    <span class="spanPop main-color-hover">o&nbsp;</span>
                    <span class="spanPop main-color-hover">A</span>
                    <span class="spanPop main-color-hover">m</span>
                    <span class="spanPop main-color-hover">o</span>
                    <span class="spanPop main-color-hover">r</span>
                    <span class="spanPop main-color-hover">i</span>
                    <span class="spanPop main-color-hover">m</span>
                    <span class="spanPop main-color-hover">.</span>
                </h1>
                <br>
                <h1 class="role">
                    <span class="over"></span>
                    <span class="blinker"></span>
                    <span class="spanPop main-color">I&nbsp;</span>
                    <span class="spanPop main-color">a</span>
                    <span class="spanPop main-color">m&nbsp;</span>
                    <span class="spanPop main-color">a&nbsp;</span>
                    <span class="spanPop main-color">W</span>
                    <span class="spanPop main-color">e</span>
                    <span class="spanPop main-color">b&nbsp;</span>
                    <span class="spanPop main-color">D</span>
                    <span class="spanPop main-color">e</span>
                    <span class="spanPop main-color">v</span>
                    <span class="spanPop main-color">e</span>
                    <span class="spanPop main-color">l</span>
                    <span class="spanPop main-color">o</span>
                    <span class="spanPop main-color">p</span>
                    <span class="spanPop main-color">e</span>
                    <span class="spanPop main-color">r</span>
                </h1>
                <p>I'm a Web Developer specializing in FrontEnd.</p>
                <a href="mailto:leoferruge@gmail.com"><button class="bt-main">Contact me!</button></a>
            </div>
        </section>
    </div>
</div>