<div id="header">
    <div class="inner-padding">
        <div class="logo"></div>

        <div class="div_buttons f-right">
            <span>
                <div class="underline"></div><a class="hover transition" href="#page1">About</a>
            </span>
            <span>
                <div class="underline"></div><a class="hover transition" href="#page1">Experience</a>
            </span>
            <span>
                <div class="underline"></div><a class="hover transition" href="#page1">Contact</a>
            </span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div id="body">
    <div id="sidebar">
        <div class="inner-padding">

            <a class="main-color hover transition" href="https://www.linkedin.com/in/leonardo-cassani-de-amorim/"
                target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="main-color hover transition" href="https://github.com/leocamorim" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="main-color hover transition"
                href="https://docs.google.com/document/d/1buOhi9nrudgjoQ78z0nD7gpxOWPq8H76xU4fuycwGbU/edit?usp=sharing"
                target="_blank">
                <i class="fa-solid fa-id-badge"></i>
            </a>

            <div class="vertical-bar"></div>
        </div>
    </div>

    <div id="content">
        <section id="page1">
            <div class="inner-padding">
                <h1>
                    <span class="spanPop hover">L</span>
                    <span class="spanPop hover">e</span>
                    <span class="spanPop hover">o</span>
                    <span class="spanPop hover">n</span>
                    <span class="spanPop hover">a</span>
                    <span class="spanPop hover">r</span>
                    <span class="spanPop hover">d</span>
                    <span class="spanPop hover">o</span>&nbsp;
                    <span class="spanPop hover">C</span>
                    <span class="spanPop hover">a</span>
                    <span class="spanPop hover">s</span>
                    <span class="spanPop hover">s</span>
                    <span class="spanPop hover">a</span>
                    <span class="spanPop hover">n</span>
                    <span class="spanPop hover">i</span>
                    <br>
                    <span class="spanPop hover">M</span>
                    <span class="spanPop hover">a</span>
                    <span class="spanPop hover">r</span>
                    <span class="spanPop hover">b</span>
                    <span class="spanPop hover">a</span>
                    <span class="spanPop hover">c</span>
                    <span class="spanPop hover">k</span>&nbsp;
                    <span class="spanPop hover">d</span>
                    <span class="spanPop hover">e</span>&nbsp;
                    <span class="spanPop hover">A</span>
                    <span class="spanPop hover">m</span>
                    <span class="spanPop hover">o</span>
                    <span class="spanPop hover">r</span>
                    <span class="spanPop hover">i</span>
                    <span class="spanPop hover">m</span>
                </h1>

                <h3>Front End Developer</h3>
            </div>
        </section>
        <section id="page2">
            <div class="inner-padding"></div>
        </section>
    </div>
</div>