/* HEADER CSS */

header .inner-padding {
    padding: 29px 50px;
}

header .logo {
    width: 47px;
}

.header {
    height: 42px;
}

header .div_buttons span  {
    font-family: JosefinSans;
    cursor: pointer;
    position: relative;
    margin: 0 15px;
    opacity: 0;
}

header .div_buttons span .underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    transition: all .2s;
    background-color: var(--color_text-1-hover);
}

/* SIDEBAR CSS */

#sidebar-left {
    display: inline-block;
    position: fixed;
    left: 40px;
    bottom: 0;
}

#sidebar-left .vertical-bar {
    margin: 0 auto;
    width: 1px;
    height: 100px;
    background-color: var(--color_text-1);
    max-height: calc( 100vh - 100px );
    margin-top: 20px;
    transform: translate(0, 100px);
}

#sidebar-left a {
    display: block;
    font-size: 26px;
    padding: 5px;
    margin-bottom: 15px;
}

#sidebar-left .inner-padding > *:not(*:last-child) {
    opacity: 0;
}

/* CONTENT CSS */

#content {
    scroll-snap-type: y mandatory;
}

#content section {
    scroll-snap-align: start;
}


#content section#page1 .content p {
    font-size: 21px;
    max-width: 800px;
    text-align: justify;
    margin-left: 5px;
}

#content section#page1 .content button.bt-main {
    margin-top: 25px;
    margin-left: 5px;
    padding: 15px 50px;
}

#content span.salutation {
    display: block;
    margin-bottom: 25px;
    margin-left: 5px;
    font-size: 25px;
    color: var(--color_text-1-hover);
}

#content section#page1 h1 {
    font-size: 80px;
    font-family: JosefinSans;
    font-weight: 900;
    margin: 0;
}

#content section#page1 h1 span {
    transition: all .5s;
    display: inline-block;
    color: var(--color_text-1);
}

#content section#page2 {
    background-color: var(--color_bg-2);
}

/* ANIMATIONS */

/* FADE IN HEADER LOGO */
header .logo {
    animation: .5s opacityFade 0s ease-out forwards;
}

/* FADE IN HEADER BUTTONS */
header .div_buttons span {
    animation: 0.5s fadeInLeft 0.5s ease-out forwards;
}

/* FADE IN  */
#sidebar-left .inner-padding > *:nth-child(4) {
    animation: 1s lineFadeInUp 2s ease-out forwards;
}

#sidebar-left .inner-padding > *:nth-child(3) {
    animation: 1s fadeInUp 2.5s ease-out forwards;
}

#sidebar-left .inner-padding > *:nth-child(2) {
    animation: 1s fadeInUp 3s ease-out forwards;
}

#sidebar-left .inner-padding > *:nth-child(1) {
    animation: 1s fadeInUp 3.5s ease-out forwards;
}

#sidebar-left a:hover i {
    transform: scale(1.2, 1.2);
}

header .div_buttons span:hover .underline {
    animation: .2s underlineFade 0s linear forwards;
}

#content section#page1 h1 span.animating {
    animation: 1s popLetter ease-in normal;
}

@keyframes opacityFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.3, 1.3);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(0, 15px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate(15px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes lineFadeInUp {
    0% {
        transform: translate(0, 100px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes popLetter {
    0% {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.3, 0.8);
    }
    
    40% {
        transform: scale(1.3, 0.8);
    }
    
    50% {
        transform: scale(0.8, 1.3);
    }
    
    60% {
        transform: scale(1.15, 0.9);
    }
    
    80% {
        transform: scale(0.9, 1.15);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes underlineFade {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}