/* HEADER CSS */

header .inner-padding {
    padding: 29px 50px;
}

header .logo {
    width: 56px;
    opacity: 0;
}

.header {
    height: 42px;
}

header .div_buttons>* {
    font-family: JosefinSans;
    cursor: pointer;
    position: relative;
    margin: 0 15px;
    opacity: 0;
    display: inline-block;
}

header .div_buttons span .underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    transition: all .2s;
    background-color: var(--color_text-1-hover);
}

/* SIDEBAR CSS */

.sidebar {
    display: inline-block;
    position: fixed;
    bottom: 0;
}

#sidebar-left {
    left: 40px;
}

#sidebar-right {
    right: 40px;
}

.sidebar .vertical-bar {
    margin: 0 auto;
    width: 1px;
    height: 100px;
    background-color: var(--color_text-1);
    max-height: calc(100vh - 100px);
    margin-top: 20px;
    transform: translate(0, 100px);
}

.sidebar a {
    display: block;
    font-size: 26px;
    padding: 5px;
    margin-bottom: 15px;
}

.sidebar .inner-padding>*:not(*:last-child) {
    opacity: 0;
}

#sidebar-right a {
    writing-mode: vertical-rl;
}

/* CONTENT CSS */

#content section#page1 .content {
    padding-top: calc(50vh - 340px);
}

#content span.salutation {
    display: block;
    margin-bottom: 25px;
    margin-left: 5px;
    font-size: 25px;
    color: var(--color_text-1-hover);
    opacity: 0;
    animation: .2s fadeInUp forwards ease-out;
}

#content section#page1 h1 {
    font-size: 70px;
    font-family: JosefinSans;
    font-weight: 900;
    margin: 0;
    opacity: 0;
    animation: .2s fadeInUp forwards ease-out;
}

#content section#page1 h1 span {
    transition: all .5s;
    display: inline-block;
    color: var(--color_text-1);
}

#content section#page1 .content p {
    font-size: 21px;
    max-width: 800px;
    text-align: justify;
    margin-left: 5px;
    opacity: 0;
    animation: .2s fadeInUp forwards ease-out;
    line-height: 30px;
}

#content section#page1 .content button.bt-main {
    margin-top: 25px;
    margin-left: 5px;
    padding: 15px 50px;
    opacity: 0;
    animation: .2s fadeInUp forwards ease-out;
}

#content section#page2 {
    background-color: var(--color_bg-2);
}

/* ANIMATIONS */

/* FADE IN HEADER LOGO */
header .logo {
    animation: .5s opacityFade ease-out forwards;
}

/* FADE IN HEADER BUTTONS */
header .div_buttons>* {
    animation: 0.5s fadeInLeft ease-out forwards;
}

/*  */

#content span.salutation {
    animation: .2s fadeInUp ease-out forwards;
}

/* FADE IN SIDEBAR */

.sidebar .inner-padding>* {
    animation: 1s fadeInUp ease-out forwards;
}

/* FADE IN SIDEBARS VERTICAL BARS */
#sidebar-left .inner-padding>*:nth-child(4), #sidebar-right .inner-padding>*:nth-child(2) {
    animation: 1s lineFadeInUp ease-out forwards;
}

/* INTERACTION ANIMATIONS */

#sidebar-left a:hover i {
    transform: scale(1.2, 1.2);
}

header .div_buttons span:hover .underline {
    width: 100%;
}

#content section#page1 h1 span.animating {
    animation: 1s popLetter ease-in normal;
}

@keyframes opacityFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(0, 15px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate(25px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes lineFadeInUp {
    0% {
        transform: translate(0, 100px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes popLetter {
    0% {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.3, 0.8);
    }

    40% {
        transform: scale(1.3, 0.8);
    }

    50% {
        transform: scale(0.8, 1.3);
    }

    60% {
        transform: scale(1.15, 0.9);
    }

    80% {
        transform: scale(0.9, 1.15);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes underlineFade {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}